/*************************TAG Selectors*******************/

body {
    background-color: powderblue;
  }

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    height: 0px;
    width: 50%;
}

h1 {
    color: rgb(6, 66, 103);
}

h3 {
    color: rgb(6, 66, 103);
}

/***************************CLASS SELECTORS***************/

/***************************ID SELECTORS***************/
#my-image{
    border-radius: 100%;
}